:root {
    --grid-size: 0;
    --draw-color: #555;
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

html, body {
    margin: 0;
    padding: 0;

    overflow: hidden;

    user-select: none;
}

.container {
    display: grid;
    justify-content: center;
    grid-template: repeat(var(--grid-size), 1fr) / repeat(var(--grid-size), 1fr);
    width: 500px;
    height: 500px;

    border: 1px solid #777;

}

.container > div {
    aspect-ratio: 1 / 1;
    border: .1px solid rgb(214, 214, 214);
}

.active {
    background-color: var(--draw-color);
    border-color: #888;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1em;

    margin: 1em 5em;
}

.btn {
    font-size: 1.5rem;

    border-radius: .25em;
    border: none;

    padding: .25em 1.25em;

    cursor: pointer;

    background-color: rgb(239, 239, 239);
}

.start-game:hover {
    background-color: rgb(196, 250, 196);
}

.reset:hover {
    background-color: rgb(255, 250, 203);
}

.buttons {
    display: flex;
    gap: 2rem;
}

.welcome {
    display: none;
    position: absolute;

    top: 40%;
    left: 32vw;

    text-align: center;
}

.greeting {
    font-size: 2rem;
    color: #666;
}

.description {
    font-size: 1.25rem;
    color: #666;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
}

.colorpickercont {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.colorpicker-label {
    font-size: 1.5rem;
    color:#555;
}

.square {
    transition: background-color 100ms ease-in;
}

/* Media Queries */
@media (max-width: 700px){
    .menu {
        flex-direction: column;
        align-items: center;
    
        gap: 2em;
    
        margin: 2em 5em 0em;
    }

    .buttons {
        gap: 2.5em;
        color: black;
    }
}

@media (max-width: 600px) {
    .container {
        width: 450px;
        height: 450px;
    }
}

@media (max-width: 500px) {
    .container {
        width: 400px;
        height: 400px;
    }

    .main {
        margin-top: 3rem;
    }
}

@media (max-width: 450px) {
    .container {
        width: 320px;
        height: 320px;
    }
}

@media (max-width: 375px) {
    .btn {
        font-size: 1.3rem;
    }
    .container {
        width: 300px;
        height: 300px;
    }
    .main {
        margin-top: 2rem;
    }

    .logo {
        font-size: 1.5rem;
    }
}